version: '2.2'
services:
  es01:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.3.2
    container_name: es01
    environment:
      - node.name=es01
      - discovery.seed_hosts=es02
      - cluster.initial_master_nodes=es01,es02
      - cluster.name=docker-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms3g -Xmx3g"
      - xpack.security.enabled=true
      - ELASTIC_PASSWORD=123456
      - network.host=0.0.0.0
      - xpack.security.transport.ssl.enabled=true
      - xpack.security.transport.ssl.verification_mode=certificate
      - xpack.security.transport.ssl.keystore.path=certs/elastic-certificates.p12
      - xpack.security.transport.ssl.truststore.path=certs/elastic-certificates.p12
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - esdata01:/usr/share/elasticsearch/data
      - ./ssl:/usr/share/elasticsearch/config/certs
    #ports:
    #  - 9200:9200
    networks:
      esnet:
        ipv4_address: 172.22.0.2
    restart: always
  es02:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.3.2
    container_name: es02
    environment:
      - node.name=es02
      - discovery.seed_hosts=es01
      - cluster.initial_master_nodes=es01,es02
      - cluster.name=docker-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms3g -Xmx3g"
      - xpack.security.enabled=true
      - ELASTIC_PASSWORD=123456
      - network.host=0.0.0.0
      - xpack.security.transport.ssl.enabled=true
      - xpack.security.transport.ssl.verification_mode=certificate
      - xpack.security.transport.ssl.keystore.path=certs/elastic-certificates.p12
      - xpack.security.transport.ssl.truststore.path=certs/elastic-certificates.p12
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - esdata02:/usr/share/elasticsearch/data
      - ./ssl:/usr/share/elasticsearch/config/certs
    networks:
      esnet:
        ipv4_address: 172.22.0.3
    restart: always
  btscore:
    image: ety001/bts-core:3.3.2
    container_name: btscore
    volumes:
      - ./bts_data:/data_dir
    networks:
      esnet:
        ipv4_address: 172.22.0.4
    command: /app/witness_node --data-dir /data_dir --plugins "elasticsearch" --elasticsearch-node-url "http://172.22.0.2:9200/" --es-objects-auth "elastic:123456"
    restart: always
volumes:
  esdata01:
    driver: local
  esdata02:
    driver: local

networks:
  esnet:
    ipam:
      config:
        - subnet: 172.22.0.0/24
          gateway: 172.22.0.1
